<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='logo.jpg') }}">
    <style>
        header, footer {
            background-color: #40E0D0;
            color: white;
            padding: 10px 0;
        }

        h1 {
            margin-bottom: 20px;
        }
        h2 {
            margin-top: 20px;
            margin-bottom: 20px;

        }
        p {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    <header>
        <nav>
            <div class="container" style="margin-left: 0;">
                <h1>TradeForge</h1>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/signin">Log In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <h2>About Us</h2>

        <p>Welcome to TradeForge, the premier platform for cryptocurrency enthusiasts seeking a seamless and rewarding trading experience. Here, we're committed to fostering a secure and intuitive environment where users can seamlessly engage in buying, selling, and trading various cryptocurrencies. Our overarching goal at TradeForge is to not only facilitate transactions but also to empower our users with the knowledge and tools necessary to navigate the dynamic landscape of digital assets successfully.</p>
        
        <p>At TradeForge, we pride ourselves on staying at the forefront of technological advancements to ensure the utmost security and integrity of every transaction conducted on our platform. Through robust encryption protocols and continuous monitoring systems, we prioritize the safety of our users' assets and personal information. Moreover, our dedicated team of experts works tirelessly to implement innovative solutions and uphold the highest standards of security, providing our users with peace of mind as they explore the exciting world of cryptocurrency trading.</p>
        
        <p>Whether you're taking your first steps into the realm of digital currencies or you're a seasoned trader looking for a reliable platform to execute your strategies, TradeForge offers a comprehensive suite of features and resources tailored to meet your needs. From intuitive trading interfaces to in-depth market analysis tools, we equip our users with everything they require to make informed decisions and navigate the complexities of the digital asset market with confidence.</p>
        
        <p>Join us at TradeForge today and embark on your journey towards financial empowerment and cryptocurrency success. With our unwavering commitment to security, innovation, and user satisfaction, we're here to support you every step of the way as you explore the limitless possibilities of cryptocurrency trading.</p>
    </div>
</body>
</html>
