<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <header>
        <nav>
            <div class="container">
                <h1>TradeForge</h1>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/signin">Sign In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="container">
        <h2>About Us</h2>


        <p>Welcome to TradeForge, your go-to platform for cryptocurrency trading. Our mission is to provide a secure and user-friendly environment for users to buy, sell, and trade cryptocurrencies.</p>
        <p>At TradeForge, we leverage cutting-edge technology to ensure the safety and integrity of your transactions. Our team of experts is dedicated to delivering the best trading experience possible.</p>
        <p>Whether you're new to cryptocurrency trading or an experienced trader, TradeForge has everything you need to succeed in the digital asset market. Join us today and start trading with confidence!</p>
    </div>
</body>
</html>
