<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeForge - Cryptocurrency Exchange</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="static/js/scipt.js"></script>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='logo.jpg') }}">
    <style>
        .container {
            width: 80%;
            margin: 0 auto;
            padding-top: 20px;
        }
        .tab {
            cursor: pointer;
            padding: 10px 20px;
            margin: 0 5px;
            background-color: #eee;
            display: inline-block;
            border-radius: 5px;
        }
        .tab.active {
            background-color: #007bff;
            color: white;
        }
        .tab-content {
            display: none;
            padding: 20px;
            border: 1px solid #ddd;
            border-top: none;
        }
    </style>
</head>

<body>

<header>
    <nav>
        <div class="container">
            <h1>TradeForge</h1>
            <ul>
                <li><a href="/main">Home</a></li>
                <li><a href="/market">Market</a></li>
                <li><a href="/wallet">Wallet</a></li>
                <li style="position: absolute; right: 10px;"><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="tabs">
        <div class="tab" onclick="showTab('buy')">Buy</div>
        <div class="tab" onclick="showTab('sell')">Sell</div>
    </div>
    <br>
    <div id="buy" class="tab-content">
        <h2>Buy Cryptocurrency</h2>
        <br>
        <form>
            <label for="buy-amount">Amount:</label>
            <input type="number" id="buy-amount" name="amount" placeholder="Amount to buy" step="any" oninput="calculateTotal()">
            &nbsp&nbsp&nbsp
            <label for="buy-currency">Currency Price:</label>
            <label><b>{{crypto_price  | round(4)}} $</b></label>
            &nbsp&nbsp&nbsp
            <label for="total-price">Total Price:</label>
            <label id="total-price-label"></label>
            &nbsp&nbsp&nbsp
            <button type="submit"><a href="/buy/{{crypto_price}}/{{crypto_id}}">Buy</a></button>
        </form>
    </div>
    <div id="sell" class="tab-content">
        <h2>Sell Cryptocurrency</h2>
        <br>
        <form>
            <label for="sell-amount">Amount:</label>
            <input type="number" id="sell-amount" name="amount" placeholder="Amount to sell" step="any" oninput="calculateTotal()">
            &nbsp&nbsp&nbsp
            <label for="sell-currency">Currency Price:</label>
            <label><b>{{crypto_price  | round(4)}} $</b></label>
            &nbsp&nbsp&nbsp
            <label for="total-price">Total Price:</label>
            <label id="total-price-label"></label>
            &nbsp&nbsp&nbsp
            <button type="submit">Sell</button>
        </form>
    </div>
</div>
<script>
    function calculateTotal() {
        // Get the input amount and crypto price
        var amount = parseFloat(document.getElementById('buy-amount').value);
        var cryptoPrice = parseFloat('{{crypto_price}}');

        // Calculate the total price
        var totalPrice = amount * cryptoPrice;

        // Update the total price label
        document.getElementById('total-price-label').textContent = totalPrice.toFixed(4) + ' $';
    }
    function showTab(tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        event.currentTarget.className += " active";
    }
    // Initialize with one tab open
    document.getElementsByClassName('tab')[0].click();
</script>
<footer>
    <div class="container">
        <p>&copy; 2024 TradeForge. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
