<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeForge - Cryptocurrency Exchange</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/scipt.js"></script>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='logo.jpg') }}">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-left: 100px;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <header>
        <nav>
            <div class="container">
                <h1>TradeForge</h1>
                <ul>
                    <li><a href="/main">Home</a></li>
                    <li><a href="/market">Market</a></li>
                    <li><a href="/wallet">Wallet</a></li>

                    <li style="position: absolute; right: 10px;"><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <p style="margin: 50px; font-size: xx-large; font-weight: bold;">Your Crypto Assets: </p>  




    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in wallet %}
            <tr>
                <td>{{ asset.Name }}</td>
                <td>{{ asset.Amount | round(4) }}</td>
                <td>{{ ((asset.Amount | float) * (data['data'][asset.CryptoId|string]['quote']['USD']['price'] | float)) | round(4) }} $</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p style="margin-top: 50px; margin-left: 70%; font-size: x-large; font-weight: bold;">Total Wallet Value: {{ total_wallet_value | round(4) }} $ </p>  


    <footer>
        <div class="container">
            <p>&copy; 2024 TradeForge. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
